<h1>Listing onelines</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @onelines.each do |oneline| %>
      <tr>
        <td><%= link_to 'Show', oneline %></td>
        <td><%= link_to 'Edit', edit_oneline_path(oneline) %></td>
        <td><%= link_to 'Destroy', oneline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oneline', new_oneline_path %>
