<div class="row">
  <form ng-submit="search(keywords)">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="input-group input-group-lg">
        <input ng-model="keywords" type="text" class="form-control" placeholder="Search it (e.g. New York)">
        <span class="input-group-btn">
          <button class="btn btn-default btn-lg" type="submit">Find</button>
          <button ng-click="newOneline()" class="btn btn-success btn-md">New</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </form>
</div><!-- /.row -->

<section class='oneline-list'>
  <div ng-repeat="oneline in onelines" ng-controller="OnelineCtrl" class="oneline">
    <h1><a href ng-click="view(oneline.id)">{{ oneline.subject }}</a></h1>
    <p>{{ oneline.definition }}</p>
    <small><a href="users/{{oneline.author.username}}">{{ oneline.author.username }}</a> submitted on {{ oneline.authored_date }}</small>

    <div class="vote-action">
      <button ng-click="upvote(oneline.id)" ng-class="{active: oneline.upvoted}" class="btn btn-success btn-sm">
        <i class="fa fa-thumbs-o-up"></i> {{ oneline.upvote_count }}
        </button>
      <button ng-click="downvote(oneline.id)" ng-class="{active: oneline.downvoted}" class="btn btn-success btn-sm">
        <i class="fa fa-thumbs-o-down"></i> {{ oneline.downvote_count }}
      </button>
    </div>

  </div>
</section>
